.card {
  border: 1px solid $color-accent;
  height: 100%;

  .body {
    color: black;
    font-size: 14px;
  }

  .title {
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
  }

  .subtitle {
    padding: 4px 8px;
    font-size: 14px;
    font-weight: normal;
  }

  .content {
    padding: 8px;
  }
}
