$color-primary: #444;
$color-secondary: #777;
$color-accent: #555;

$color-bg: #333;
$color-text: white;
$color-subtext: #ddd;
$color-accept: #a7efaa;

$color-locked: #c31414;
$color-unlocked: #1d8921;
$color-change: #988400;
$color-freeze: #0267cb;
$color-multiply: #016d8b;
$color-task: #8f00af;
$color-reset: #5d5d5d;

.blank {
  background-color: $color-locked;
}

.task {
  background-color: $color-task;
}

.freeze {
  background-color: $color-freeze;
}

.half,
.double {
  background-color: $color-multiply;
}

.decrease,
.increase {
  background-color: $color-change;
}

.unlock {
  background-color: $color-unlocked;
}

.reset {
  background-color: $color-reset;
}
