@import './colors.scss';

input,
input[type='text'],
input[type='number'],
input[type='password'] {
  border: 0;
  box-shadow: none;
  height: 40px;
  padding: 0px 16px;
  font-size: 14px;
  outline: 0;

  &:disabled {
    background-color: #aaa;
    cursor: not-allowed;
    color: #ccc;
  }
}

input[type='checkbox'] {
  opacity: 0;
  width: 0;
  height: 0;
}

input + span.checkbox {
  position: static;
  display: inline-block;
  cursor: pointer;
  border: 1px solid $color-accent;
  background-color: white;
  transition: 0.2s;
  font-size: 14px;
  height: 33px;
  width: 35px;
  transition: 0.2s;
  background-position: center;
  color: black;
}

input:checked + span.checkbox {
  background-color: $color-accept;
}

label {
  font-size: 16px;
  user-select: none;
}

.input__group {
  display: flex;
  flex-direction: row;
}

.input__prefix {
  background-color: $color-accent;
  border: 0;
  font-size: 16px;
  padding: 12px 8px;
  max-height: 16px;
}
.input__prefix--btn {
  cursor: pointer;
  background-color: $color-accent;
  border: 0;
  font-size: 16px;
  padding: 12px 8px;
  max-height: 16px;

  &:hover {
    background-color: lighten($color-accent, 10%);
  }

  &.disabled {
    cursor: not-allowed;
    background-color: darken($color-accent, 20%);
    color: darken($color-text, 50%);
  }
}
